.new__way {

    font-size: 44px; 
    font-family: Hind;
    font-weight: 700;
    color: #2b2a35;
   
}

.search__compare {

    font-size: 20px; 
    font-family: Hind;
    font-weight: 600;
    color: #2b2a35; 
    letter-spacing: 0.001em;

}

.search__field {

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.search__field__col {

    display: flex;
    flex-direction: column;
    
}

.dropdown-item {

    font-family: Hind !important;
    font-weight: 300 !important;

}

.trending {

    font-size: 16px;
    font-family: Hind;
    font-weight: 300;
    color: #2b2a35;

}

.search__field__links {

    font-size: 16px;
    font-family: Hind;
    font-weight: 400;
    color: #354493;

}

.section__heading {

    font-size: 16px;
    font-family: Hind;
    font-weight: 700;
    color: #334ac0;
    letter-spacing: 0.023rem;

}

.category__section__details {

    font-size: 24px;
    font-family: Hind;
    font-weight: 600;
    font-weight: 500;
    color: #2b2a35;

}

.section__font {

    font-size: 28px;
    font-family: Hind;
    font-weight: 600;
    color: #2b2a35;

}

.empty__card__row {

    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;

}

.augbiz__details {

    font-size: 16px;
    font-family: Hind;
    font-weight: 300;
    color: #2b2a35;
    letter-spacing: 00.024em;
    max-width: 856px;
    margin-left: auto;
    margin-right: auto;

}

.boost__productivity__container {

    height: 572px;
    border: 1px solid #D9D7D7;
    border-radius: 7px 7px 0px 0px;
    opacity: 1;

}

.play__icon {

    margin-top: 258px;
    height: 56px;
    width: 56px;
    fill: #334ac0;

}
